.stand {
    display: flex;
    align-items: center;
    margin-bottom: 60px;


}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-right: 132px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 358px;
    padding-top: 94px;

}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
