.friendMessage {
    margin: 0px 0px 73px 0px
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 50px;
    margin-right: 30px;
}

.friendText {
    background-color: #0066CC;
    margin-top: 24px;
    display: inline-block;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding: 7px 13px 7px 13px;;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}
